//coloring
$backgroundFo: #2A2438;
$color: #ccc;
$align: center;

* {
	padding: 0;
	margin: 0;
}

.Home-Container, .home-bg {
	background-color: #000;
	color: #fff;
	padding: 2rem;

	.bg-dark {
		background-color: #333 !important;
	}

	.bg-secondary {
		background-color: #444 !important;
	}

	h1 {
		color: #e5e5e5;
	}
	ul {
		color: #e5e5e5;
		padding-left: 2rem !important;
		font-size: 1rem !important;
		li::before {
			width: 0 !important;
		}	
	}
	.btn-primary {
		background-color: #007bff;
		border: none;

		&:hover {
			background-color: #0056b3;
		}
	}

	.card {
		background-color: transparent;
		border: none;

		.card-body {
			background-color: #333;
			border-radius: 8px;
		}

		.card-title {
			font-size: 1.25rem;
		}
	}

	ul {
		list-style-type: none;
		padding-left: 0;

		li {
			padding-left: 1.5em;
			text-indent: -1.5em;
			margin-bottom: 0.5em;

			&:before {
				content: "•";
				color: #007bff;
				font-weight: bold;
				display: inline-block;
				width: 1.5em;
			}
		}
	}
}



button {
	cursor: pointer;
}
.navbar-toggler  {
	height: 30px !important;
    width: 30px !important;
	padding-right: 30px !important;
	.navbar-toggler-icon {
		width: 1.0em !important;
		background-position: unset !important;
		padding: 10px;
	}
}

.UserName {
	text-align: left;
	font-weight: 700;
}

@media screen and (max-width:600px) {
	.home-bg {
		padding: 1rem !important;
	}
	.Home-Container {
		width: 85%;
		padding: 10px 20px;
	}
	.image-container {
		display: none;
	}
}

.componentsh2 {
	color: $backgroundFo;
	cursor: pointer;
	margin-bottom: 2em;
}

.componentListItem {
	margin-bottom: 4em;
}

.componentListItem img {
	border-bottom-style: solid;
}


.wizardForm,
.adminForm {
	background-color: #000d12d6;
	position: relative;
	top: 2em;
	left: 10%;
	width: 80%;
	overflow: auto;
	display: block;
	margin-bottom: 2em;
	text-align: left;
	padding: 20px;
	border-radius: 5px;

	label {
		color: #fff;
		text-align: left !important;
	}

	input,
	select {
		background-color: #b3121200;
		background: #b3121200;
		width: 80%;
		border: none;
		border-bottom: 1px solid #0e002e !important;
		height: 35px;
		color: #fff;
		padding: 10px;

	}

	select option:not(:checked) {
		color: #000001;
	}

	input::placeholder {
		color: #fff !important;
	}
}

.Results {
	width: 80%;
	margin: 0 auto;
	text-align: left;
	display: flex;
	justify-content: space-between;
}

.Result {
	background-color: #cdcdcdd6;
	width: 45%;
	padding: 20px;
	border-radius: 10px;
	box-shadow: rgba(10, 74, 138, 0.2) 10px 8px 24px;
}

.setWizardAdvanced {
	cursor: pointer;
}

.userCredentialChange {
	margin-top: 3em;
}

.closeForm {
	background-color: #000412d6;
	color: #fff;
	display: inline;
	position: absolute;
	left: 90%;
	width: 2.5em;
	height: 2.5em;
	border: none;
	border-radius: 25%;
	cursor: pointer;
}

.closeForm:hover {
	background-color: red;
}

.userChangePrompt {
	margin-bottom: 0.5em;
}

.userChangeButtons {
	margin-bottom: 1em;

	button {
		margin-bottom: 0.5em;
	}
}

.adminComponentList {
	margin-bottom: 0.5em;

	button {
		float: right;
		width: 20em;
		height: 1.6em;
		overflow: hidden;
	}

	.deleteButton {
		width: 5em;
		background-color: red;
		border: none;
	}

	.deleteButton:hover {
		background-color: darkred;
	}
}

.adminDashboardButton {
	height: 15em;
	width: 30em;
}

.signout {
	display: flex;

	button,
	li {
		background-color: unset;
		color: #ccc;
		border: none;
		padding: 5px 15px;
		font-size: 15px;
		cursor: pointer;
	}
}

.sign {
	width: 50%;
	height: 90%;
	position: absolute;
	right: 0;
}

span {
	color: #dea002;
	text-transform: capitalize;
	padding-top: 100px;
}

:root {
	--space: ;
	--op-gradient: conic-gradient(from 0deg at 50% 100% var(--space),
			oklch(29% 0.06 237) 0%,
			oklch(65% 0.11 219) 25%,
			oklch(81% 0.07 229) 50%,
			oklch(83% 0.17 80) 75%,
			oklch(73% 0.18 56) 100%);
}

.wrapper {
	background-color: #000925;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin-bottom: 50px;
	box-shadow: rgba(10, 74, 138, 0.2) 10px 8px 24px;
	border-radius: 5px;
	padding: 20px;

	h1 {
		margin: 0 0 24px 0;
		font-size: 2rem;
		color: #fff;
		text-transform: uppercase;
	}

	p {
		font-size: 1rem;
		color: #fff;
		margin: 0;
		text-align: center;
	}

	@media (min-width: 768px) {
		h2 {
			font-size: 1rem;
		}
	}

	h1,
	h2 {
		animation: glitch 1s linear infinite;
	}

	@keyframes glitch {

		2%,
		64% {
			transform: translate(2px, 0) skew(0deg);
		}

		4%,
		60% {
			transform: translate(-2px, 0) skew(0deg);
		}

		62% {
			transform: translate(0, 0) skew(5deg);
		}
	}

	h1:before,
	h1:after,
	h2:before,
	h2:after {
		content: attr(title);
		position: absolute;
		left: 0;
		top: 0;
	}

	h1:before,
	h2:before {
		animation: glitchTop 1s linear infinite;
		clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
		-webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
	}

	@keyframes glitchTop {

		2%,
		64% {
			transform: translate(2px, -2px);
		}

		4%,
		60% {
			transform: translate(-2px, 2px);
		}

		62% {
			transform: translate(13px, -1px) skew(-13deg);
		}
	}

	h1:after,
	h2:after {
		animation: glitchBotom 1.5s linear infinite;
		clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
		-webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
	}

	@keyframes glitchBotom {

		2%,
		64% {
			transform: translate(-2px, 0);
		}

		4%,
		60% {
			transform: translate(-2px, 0);
		}

		62% {
			transform: translate(-22px, 5px) skew(21deg);
		}
	}

	.scroll-downs {
		margin: 2.4rem 0 0 0;
		width: 34px;
		height: 55px;
	}

	.mousey {
		width: 3px;
		padding: 10px 15px;
		height: 35px;
		border: 2px solid #fff;
		border-radius: 25px;
		opacity: 0.75;
		box-sizing: content-box;
	}

	.scroller {
		width: 3px;
		height: 10px;
		border-radius: 25%;
		background-color: #fff;
		animation-name: scroll;
		animation-duration: 2.2s;
		animation-timing-function: cubic-bezier(0.15, 0.41, 0.69, 0.94);
		animation-iteration-count: infinite;
	}

	@keyframes scroll {
		0% {
			opacity: 0;
		}

		10% {
			transform: translateY(0);
			opacity: 1;
		}

		100% {
			transform: translateY(15px);
			opacity: 0;
		}
	}
}

.Profile-info {
	position: relative;
	background-color: #fff;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
}

.profile-image {
	width: 100px;
	height: 100px;
	object-fit: cover;
}

.userForm {
	background-color: #f9f9f9;
}

button.closeForm {
	background: none;
	border: none;
	font-size: 1.5rem;
	position: absolute;
	top: 10px;
	right: 10px;
}

.Form-Container {
	display: flex;
	width: 500px !important;
	height: 80vh;
	margin: auto;
	flex-direction: column;
	justify-content: center;

	form {
		padding: 20px;
		background-color: #181818;
		color: #fff;
		border-radius: 8px;
	}
}

.text-center {
	text-align: center;
}

.mb-4 {
	margin-bottom: 1.5rem;
}

@media screen and (max-width:800px) {
	.Form-Container {
		width: 100% !important;
	}

	.Profile-info {
		padding: 0;
		width: 100%;

		.userForm {
			position: unset;
			width: 80%;
			margin: -130px auto;

			input {
				background-color: #b3121200;
				width: 100%;
				border: none;
				border-bottom: 1px solid #0e002e !important;
				height: 35px;
				color: #fff;

				&::placeholder {
					color: #fff;
				}
			}
		}
	}

	.closeForm {
		position: absolute;
		left: 85%;
		top: 30%;
		width: 2.5em;
		height: 2.5em;
		border: none;
		border-radius: 25%;
	}

	.wizardForm {

		input,
		select {
			background-color: #b3121200;
			width: 90%;
		}
	}

	.Results {
		width: 80%;
		display: block;
	}

	.Result {
		width: 100%;
	}
}